@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

@mixin drew_gradient {
	background: #fcfcfe;
	background: -moz-linear-gradient(top, #fcfcfe, #fdfaf1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfe), color-stop(1, #fdfaf1));
	background: -webkit-linear-gradient(top, #fcfcfe, #fdfaf1);
	background: -o-linear-gradient(top, #fcfcfe, #fdfaf1);
	background: -ms-linear-gradient(top, #fcfcfe, #fdfaf1);
	background: linear-gradient(top, #fcfcfe, #fdfaf1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfe', endColorstr='#fdfaf1', GradientType=0);
}

@mixin AjaxEditAnimationFrame {
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), #f6f5f0;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f5f0), color-stop(1, #e1e0dc));
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f5f0', endColorstr='#e1e0dc', GradientType=0);
	background-size:106px 106px;
	color: #bdbbb9;
	cursor: wait;
	text-shadow: white 0 1px 0;

	-webkit-animation-name: AjaxEditAnimationFrame;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0;
	-webkit-animation-direction: normal;
	animation-name: AjaxEditAnimationFrame;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 0;
	animation-direction: normal;
}

@keyframes AjaxEditAnimationFrame{
	0% {background-position:0 0;}
	100% {background-position:106px 0;}
}
@-webkit-keyframes AjaxEditAnimationFrame{
	0% {background-position:0 0;}
	100% {background-position:106px 0;}
}


body.settings_page_drew_homepage_images {
	*,*:after,*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.inline-block {
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
	}
	#wpcontent {
		@media screen and (max-width: 782px) {
			padding-left:0!important;
		}
	}

	.drew-submit {
		width: 100%;
		height: 65px;
		display: block;
		margin: 0;
		padding: 0;
		box-shadow: none;
		border-radius: 0 2px 0 0;
		font-family: "Open Sans",sans-serif;
		text-shadow: 0 1px 0 #00b75d;
		letter-spacing: 0;
		font-size: 12px;
		cursor: pointer;
		background: #00d36a;
		box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6) inset;
		border:1px solid;
		border-color: #00b75d;
		color:#fff;
		&:hover,
		&:focus,
		&:active {
			background: #00d36a;
			border:1px solid;
			border-color: #00b75d;
			color:#fff;
			box-shadow:none!important;
			transform:none!important;
		}
	}

	.ButtonAnimation {
		@include AjaxEditAnimationFrame;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:2;
		border:1px solid #eee;
		border-top:0;
		border-right:0;
		border-left-color:#ddd;
		&:after {
			display: block;
			text-align: center;
			content: "Please wait...";
			font-weight: 300;
			font-size: 12px;
			line-height: 65px;
			font-family: "Open Sans",sans-serif;
		}
	}

	.uploader_wrap {
		background: #fff;
		margin: 15px 15px 0 0;
		padding:0;
		box-shadow: 0 0 10px rgba(0,0,0,0.075);
		border-radius: 4px;

		h1,h2 {
			padding-left:15px;
			padding-right:15px;
		}

		h1 {
			margin-top: 0;
			padding-top: 15px;
			padding-bottom: 14px;
			border-bottom: 1px solid #eee;
			// background: #f7f5f7;
			@include drew_gradient;
			font-family:serif;
			color:#231f20;
			font-weight:400;

			> span {
				line-height:1;
				&.text {
					opacity:.9;
				}
			}

			img {
				max-height:30px;
			}

			.submit {
				position:relative;
				padding: 0;
				margin: -15px -15px 0 -14px;
				border-radius: 0 4px 0 0;
				float: right;
				height: 65px;
				width: 140px;
				p {
					margin:0;
					padding:0;
				}
			}
		}

		h2 {
			border-bottom: 1px dashed #eee;
			padding-bottom: 15px;
			font-size: 15px;
			font-weight: 400;
			color: #424242;
			&.shortcode {
				border-top:1px dashed #eee;
				padding-top:15px;
				font-weight:600;
				margin-bottom: 0;
				border-bottom: 0;

				.the-shortcode {
					margin-top:15px;
					margin-bottom:15px;
					font-size:32px;
					font-weight:300;
				}
			}
		}

		form {
			padding-bottom:30px;

			label span.description {
				font-weight:300;
			}

			> table {
				display:block;
				padding-bottom:30px;
				tbody {
					display:block;
					margin:0;
					&:after {
						content:" ";
						display:table;
						width:100%;
					}
					tr {
						display: block;
						float: left;
						padding: 0;
						margin:0;

						@media screen and (min-width:320px) and (max-width:991px) {
							width:100%;
						}
						@media screen and (min-width:992px) {
							width:33%;
						}

						th,td {
							display:block;
							width:100%;
							padding:0 15px;
							margin:0;
						}
						td {
							img {
								display: block;
								max-width: 100%;
								height: auto;
								vertical-align: middle;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
								margin:0;
								padding: 4px;
								line-height: 1.42857143;
								background-color: #fff;
								border: 1px solid #ddd;
								border-radius: 4px;
								-webkit-transition: all .2s ease-in-out;
								-o-transition: all .2s ease-in-out;
								transition: all .2s ease-in-out;
							}

							> section {
								border: 1px solid #ddd;
								border-radius: 8px 8px 0 0;
								padding: 8px 8px 12px;
								margin: 15px 0 0;
								background:#fff;

								.image_preview {
									height:250px;
									background-size:cover;
									overflow: hidden;
									border-radius: 6px;
								}

								.upload-image-wrap {
									text-align:center;
									margin-top:15px;
								}
							}
						}
					}
				}
			}
		}

		table#ShortcodeTable {
			margin-top: 0;
			border-bottom: 1px solid #eee;
			thead {
				@include drew_gradient;
				border-top: 1px solid #f3f3f3;
				border-bottom: 1px solid #f3f3f3;
				th {
					padding-left:15px;
					padding-right:15px;
				}
			}
			td {
				margin-bottom: 9px;
				padding: 5px 15px;
				line-height: 1.4;
				vertical-align: middle;
				font-size: 12px;
			}
		}
	}
}