body img#HomepageImage {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

/*# sourceMappingURL=drew-front.css.map */
